<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h3>{{ registration_form.errors.password2 }}</h3>
<h1>Registration form</h1>
<form method="POST">
    {% csrf_token %}
    <p>{{ registration_form.username }}</p>
    <p>{{ registration_form.password1 }}</p>
    <p>{{ registration_form.password2 }}</p>
    <button type="submit">Registrarse</button>
</form>
</body>
</html>